.cards{
  display: flex;
  gap: 20px;
  margin: 50px;

}


/* .chart-container{
  width: 400px;
  text-align: center;
} */ 
body{
  margin: 10px 0; 
  background-color: rgb(243, 243, 243);
  text-align: center;
  color: rgb(70, 70, 70);
}
.hero{
  /* background-image: url('./forest-g3847e3ae7_1280.jpeg'); */
  /* background-color: #cccccc; */
  margin: 50px;
}
.recents{
  text-align: left;
  margin-left: 50px
}
header{
  margin-bottom: 20px
}
.input{
  width: 100px;
}
.select{
  width: 500px
}
.inputsmall{
  width: 50px;
}
.formflex{
  display: flex;
  margin: 20px 50px
}
.switch, .input, .inputsmall, .select{
  margin-right: 30px;
}

.doughcont{
  width: 500px;
  
}

.displaycont{
  display: flex;
  gap: 50px;
  margin: 30px;
  justify-content: space-between;
}
.layout .ant-menu .ant-menu-item-selected  {
  background-color: rgb(100, 165, 108);
}

.input:hover, .select:hover, .inputsmall:hover {
  /* background-color: #ff0000; Replace with your desired primary color */
  border-color: rgb(100, 165, 108)
}



.select:hover{

  border-color: rgb(100, 165, 108)
}

