.footer-container {
  display: flex;
  justify-content: space-between;
  background-color:rgb(180, 205, 190);
  padding: 10px;
}

.resource-container {
  text-align: left;
  margin-right: 20px;
  padding-left: 20px;
}

.team-container {
  text-align: right;
  margin-bottom: 5px;
  padding-right: 20px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 8px;
}

ul li {
  margin-bottom: 8px;
}

.team {
  margin-left: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


footer {
  margin-top: auto;
}

.footer-image {
  width:1vw;
}
